@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.footer
	width: 100%
	background: #ecebed
	padding-top: 40px
	padding-bottom: 55px

.footer__container
	max-width: 1180px
	margin: auto
	width: 100%
	padding: 0 20px
	box-sizing: border-box

.footer__logo__copyright
	padding-right: 20px
	box-sizing: border-box

.footer__logo
	max-width: 200px
	width: 100%
	margin: 0
	display: block
	img
		display: block
		width: 100%
		height: auto

.footer__subtitle
	text-align: left
	margin-bottom: 20px
	h3
		font-size: 13px
		text-transform: uppercase
		color: #1e242b
		margin: 0
		letter-spacing: 3px
		font-family: $t-0

.footer__items
	display: flex
	align-items: flex-start
	justify-content: space-between

// links

.footer__links__items
	width: 780px

.footer__links
	margin-top: 20px
	margin-bottom: 40px
	ul
		display: flex
		justify-content: space-between
	li
		margin: 0
		margin-right: 20px
		&:last-child
			margin-right: 0
	ul li a
		margin: 0
		font-size: 14px
		text-transform: uppercase
		font-family: $t-0
		color: #1e242b
		letter-spacing: -0.5px
		transition: all .25s linear
		&:hover
			color: $c-3

.footer--oficina
	width: 170px

.footer__inside__item
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0

.footer__items__redes
	ul
		display: flex
		margin-top: 30px
	li
		margin: 0
		margin-right: 15px
		&:last-child
			margin-right: 0
	a
		font-size: 15px
		color: #1e242b
		transition: all .25s linear
		&:hover
			color: $negro

.footer__item__link__line
	text-align: left
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0

.footer__item__link__subtitle
	margin-bottom: 20px
	h3
		font-size: 13px
		margin: 0
		font-family: $t-0
		color: $c-1

.footer__item__link
	display: block
	color: $c-1
	font-size: 16px
	font-family: 'Roboto'
	margin: 0
	letter-spacing: -0.5px

.footer__item__link__text
	font-size: 16px
	color: $blanco
	font-family: $t-0

.footer__item__creditos
	color: #1e242b
	font-size: 13px
	font-family: $t-4
	margin-top: 35px
	p
		margin-bottom: 5px
	p:last-child
		margin: 0
	span
		color: #1e242b
	a
		font-family: $t-4
		display: inline-block
		color: #1e242b

@media screen and (max-width: 1024px)
	.footer
		padding: 50px 0
	
	.footer__items
		align-items: center

	.footer__links
		display: none

@media screen and (max-width: 960px)
	.footer__links__items
		width: 100%

	.footer__items
		flex-wrap: wrap

	// .footer__item
	// 	width: 25%

	.footer--oficina
		width: 170px
	
	.footer__logo__copyright
		width: 100%

	.footer__logo
		display: none
	
	.footer__links__items
		order: 1

	.footer__item__creditos
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between

	.footer__logo__copyright
		order: 2

@media screen and (max-width: 767px)
	.footer
		padding: 40px 0 30px 0

	.footer__container
		padding: 0 15px

	.footer__items
		align-items: flex-start

	.footer__item
		width: 50%
		margin-bottom: 20px

	.footer__item__creditos
		margin-top: 15px

@media screen and (max-width: 480px)
	.footer__item
		width: 100%
		text-align: center

	.footer__subtitle
		text-align: center

	.footer__items__redes ul
		justify-content: center

	.footer__subtitle
		margin-bottom: 15px

	.footer__item
		margin-bottom: 25px

	.footer__item__creditos
		flex-wrap: wrap
		justify-content: center
		text-align: center

	.footer__item__creditos p
		width: 100%