@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aznmlx');
  src:  url('../fonts/icomoon.eot?aznmlx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?aznmlx') format('truetype'),
    url('../fonts/icomoon.woff?aznmlx') format('woff'),
    url('../fonts/icomoon.svg?aznmlx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next-flecha-02:before {
  content: "\e904";
}
.icon-next:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-prev:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-microwave:before {
  content: "\e908";
}
.icon-window:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-whatsapp_line:before {
  content: "\e90b";
}
.icon-logo:before {
  content: "\e90c";
}
.icon-tree:before {
  content: "\e90d";
}
.icon-shared:before {
  content: "\e90f";
}
.icon-house:before {
  content: "\e910";
}
.icon-kitchen:before {
  content: "\e911";
}
.icon-clip:before {
  content: "\e912";
}
.icon-chimney:before {
  content: "\e913";
}
.icon-washing:before {
  content: "\e914";
}
.icon-shower:before {
  content: "\e915";
}
.icon-air:before {
  content: "\e916";
}
.icon-secure:before {
  content: "\e917";
}
.icon-pointer:before {
  content: "\e918";
}
.icon-help:before {
  content: "\e919";
}
.icon-family:before {
  content: "\e91a";
}
.icon-terrace:before {
  content: "\e91b";
}
.icon-medal:before {
  content: "\e91c";
}
.icon-greeting:before {
  content: "\e91d";
}
.icon-less:before {
  content: "\e91e";
}
.icon-more:before {
  content: "\e91f";
}
.icon-garage:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-flat:before {
  content: "\e922";
}
.icon-bath:before {
  content: "\e923";
}
.icon-bed:before {
  content: "\e924";
}
.icon-marker:before {
  content: "\e925";
}
.icon-up:before {
  content: "\e926";
}
.icon-dryer:before {
  content: "\e927";
}
.icon-dishwasher:before {
  content: "\e928";
}
.icon-whatsapp:before {
  content: "\e929";
}
.icon-heart:before {
  content: "\e90e";
}
