footer.footer
	.footer__container
		.footer__items
			.footer__logo__copyright
				a(href="#").footer__logo
					img.header-logo-desktop(src=`${STATIC_URL}img/footer-logo.svg`, alt="")
				.footer__item__creditos
					p Todos los derechos reservados
					p Diseño web
						span.icon-heart
						a(href="https://www.staffdigital.pe/" target="_blank") StaffDigital
			.footer__links__items
				.footer__links
					ul
						li
							a(href="#") Nosotros
						li
							a(href="#") Servicios
						li
							a(href="#") Propiedades 
						li
							a(href="#") Trabaja con nosotros
						li
							a(href="#") Blog
						li
							a(href="#") Contáctanos
				.footer__items
					.footer__item
						.footer__inside__item
							.footer__subtitle
								h3 Escríbenos
							.footer__item__links
								a.footer__item__link(href="mailto:info@procasa.com") mailto:info@procasa.com
								a.footer__item__link(href="mailto:info@procasa.com") mailto:info@procasa.com
					.footer__item.footer--oficina
						.footer__inside__item
							.footer__subtitle
								h3 Oficinas
							.footer__item__links
								a.footer__item__link(href="#" target="_blank") Ca. Manuel Villena 123 Santiago de Surco
					.footer__item
						.footer__inside__item
							.footer__subtitle
								h3 Contáctanos
							.footer__item__links
								a.footer__item__link(href="tel:(511) 477- 3839") (511) 477- 3839
								a.footer__item__link(href="tel:(511) 477- 5570") Telefax: (511) 477- 5570
					.footer__item
						.footer__inside__item
							.footer__subtitle
								h3 Siguenos en
							.footer__items__redes
								ul
									li
										a.icon-whatsapp(href="#")
									li
										a.icon-facebook(href="#")
									li
										a.icon-youtube(href="#")
									li
										a.icon-instagram(href="#")