/* FONTS */

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/../fonts/ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype'),
        url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* ICOMMON */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?apsurf');
  src:  url('../fonts/icomoon.eot?apsurf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?apsurf') format('truetype'),
    url('../fonts/icomoon.woff?apsurf') format('woff'),
    url('../fonts/icomoon.svg?apsurf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e929";
}
.icon-next:before {
  content: "\e900";
}
.icon-prev:before {
  content: "\e905";
}
.icon-microwave:before {
  content: "\e908";
}
.icon-window:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-whatsapp_line:before {
  content: "\e90b";
}
.icon-logo:before {
  content: "\e90c";
}
.icon-tree:before {
  content: "\e90d";
}
.icon-shared:before {
  content: "\e90f";
}
.icon-house:before {
  content: "\e910";
}
.icon-kitchen:before {
  content: "\e911";
}
.icon-clip:before {
  content: "\e912";
}
.icon-chimney:before {
  content: "\e913";
}
.icon-washing:before {
  content: "\e914";
}
.icon-shower:before {
  content: "\e915";
}
.icon-air:before {
  content: "\e916";
}
.icon-secure:before {
  content: "\e917";
}
.icon-pointer:before {
  content: "\e918";
}
.icon-help:before {
  content: "\e919";
}
.icon-family:before {
  content: "\e91a";
}
.icon-terrace:before {
  content: "\e91b";
}
.icon-medal:before {
  content: "\e91c";
}
.icon-greeting:before {
  content: "\e91d";
}
.icon-less:before {
  content: "\e91e";
}
.icon-more:before {
  content: "\e91f";
}
.icon-garage:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-flat:before {
  content: "\e922";
}
.icon-bath:before {
  content: "\e923";
}
.icon-bed:before {
  content: "\e924";
}
.icon-marker:before {
  content: "\e925";
}
.icon-up:before {
  content: "\e926";
}
.icon-dryer:before {
  content: "\e927";
}
.icon-dishwasher:before {
  content: "\e928";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}


/*  */

header .logo{
	width: 150px;
	height: 69px;
}

#header .navigation > ul > li > a,
#header .navigation > ul > li,
.main-header .main-nav > nav > ul > li > a,
.main-header .user-dashboard-menu > ul > li > a{
	font-size:15px !important;
	text-transform: uppercase !important;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
}

/* SLIDER */

.wrapper__full__slider{
    position: relative;
}
.sd__wp__slider .slider__height{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 525px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.sd__wp__slider .slider__bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    position: relative;
}
.sd__wp__slider .slider__bg:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: color;
    background: rgba(217,128,30, 0.13);
}
.sd__wp__slider .slider__content__elements{
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100%;
}
.sd__wp__slider .slider__content__elements h3.title{
    color: #1d252c !important;
    font-size: 40px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 0 !important;
    line-height: 40px !important;
    display: block;
    margin-bottom: 15px;
}
.sd__wp__slider .slider__content__elements span.content{
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-size: 28px;
    color: #31363e;
    display: block;
    margin-bottom: 25px;
}
.sd__wp__slider .slider__content__elements.left{
    text-align: left;
}
.sd__wp__slider .slider__content__elements.center{
    text-align: center;
}
.sd__wp__slider .slider__content__elements.right{
    text-align: right;
}
.sd__wp__slider .slick-prev,
.sd__wp__slider .slick-next{
    z-index: 99;
    position: absolute;
    top: 50%;
    font-size: 0px;
    outline: none;
    border: none;;
    padding: 0px;
    background: none;
}
.sd__wp__slider .slick-prev{
    left: 50%;
    transform: translate(-580px, -50%);
}
.sd__wp__slider .slick-next{
    right: 50%;
    transform: translate(580px, -50%);
}
.sd__wp__slider .slick-prev:before,
.sd__wp__slider .slick-next:before{
    width: 20px;
    font-family: icomoon;
    content: "";
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: #FF4338;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.sd__wp__slider .slick-prev:before{
    content: "\e905";
}
.sd__wp__slider .slick-next:before{
    content: "\e900";
}
.sd__wp__slider .slick-prev:hover:before,
.sd__wp__slider .slick-next:hover:before{
    color: #F9211C;
}

.sd__wp__slider .slick-dots{
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 55px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.sd__wp__slider .slick-dots li{
    list-style: none;
    margin: 0 5px;
    padding: 0px;
}
.sd__wp__slider .slick-dots li:hover button{
    background: #FFFFFF; 
}
.sd__wp__slider .slick-dots li.slick-active button{
    background: #FFFFFF; 
}
.sd__wp__slider .slick-dots li button{
    padding: 0px;
    border: solid 1px #FFFFFF;
    background: none;
    width: 15px;
    height: 15px;
    font-size: 0px;
    outline: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

/* RESPONSIVE SLIDER */

@media screen and (max-width: 1024px) {
    .sd__wp__slider .slider__height{
        width: 100%;
    }
    .sd__wp__slider .slick-prev{
        left: 20px;
        transform: translate(0, -50%);
    }
    .sd__wp__slider .slick-next{
        right: 20px;
        transform: translate(0, -50%);
    }
}
@media screen and (max-width: 640px) {
    .sd__wp__slider .slider__height{
        min-height: 450px;
    }
    .sd__wp__slider .slider__content__elements h3.title{
        font-size: 30px !important;
    }
    .sd__wp__slider .slider__content__elements span.content{
        font-size: 25px;
    }
    .sd__wp__slider .slick-dots{
        bottom: 30px;
    }
}


/* STYLE BOTONES */

.btn_default{
    display: inline-block;
    color: #ffffff;
    line-height: 45px;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
}

.btn_default.red{
    background: #F9211C;
}
.btn_default.red:hover{
    background: #FF4338;
    color: #FFFFFF;
}

/* SECTIONS */

.main__section__page{
  padding: 50px 0px;
}
.wrapper__pages,
.wrapper__pages_full{
  margin: 0 auto;
  position: relative;
}
.wrapper__pages{
  width: 1200px;
  padding: 0 40px;
}

/* CUSTOM GRID */

.row__grid{
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    display: flex;
    margin: 0 -10px;
}

[class^="column__"], [class*=" column__"] {
    margin-bottom: 0px;
    padding: 0px 10px;
}
.row__grid .column__1 {
    width: 100%;
}
.row__grid .column__2 {
    width: 50%;
}
.row__grid .column__3 {
    width: 33.333%;
}

@media screen and (max-width: 640px) {
   .row__grid .column__3{
    width: 50%;
   } 
}
@media screen and (max-width: 480px) {
   .row__grid .column__3{
    width: 100%;
   } 
}

.center{
  text-align: center;
}
