extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.filter__section
		.filter__section__container
			.filter__left
				.filter__left__title
					h3 FILTROS APLICADOS
				.filter__left__top
					.filter__left__top__line__container
						.filter__left__top__line
							.filter__left__top__text Calidad
							.filter__left__top__close.icon-close
						.filter__left__top__line
							.filter__left__top__text Cursos
							.filter__left__top__close.icon-close
					.filter__left__top__line__button
						a(href='') BORRAR FILTROS
				.filter__left__bottom
					.filter__left__bottom__title
						h3 FILTROS
					.filter__left__bottom__items
						.filter__left__bottom__item
							.filter__left__bottom__item__title.acordion--pitcher
								.filter__left__bottom__item__title__text RUBRO
								.filter__left__bottom__item__title__figure
									span.filter__left__bottom__item__figure__line.line--one
									span.filter__left__bottom__item__figure__line.line--two
							.filter__left__bottom__item__content.acordion__content
								.filter__left__bottom__item__checkboxs
									.filter__left__bottom__item__line
										.general__input.general__input--checkbox.general__input--checkbox--mode5
											.general__input__inside
												input#checkbox--2(type='checkbox')
												label.general__input__checkbox__label(for='checkbox--2')
													.general__checkbox__inside
														span.checkbox__figure
														span.checkbox__text.checkbox__text--only Calidad
									.filter__left__bottom__item__line
										.general__input.general__input--checkbox.general__input--checkbox--mode5
											.general__input__inside
												input#checkbox--3(type='checkbox')
												label.general__input__checkbox__label(for='checkbox--3')
													.general__checkbox__inside
														span.checkbox__figure
														span.checkbox__text.checkbox__text--only Calidad
									.filter__left__bottom__item__line
										.general__input.general__input--checkbox.general__input--checkbox--mode5
											.general__input__inside
												input#checkbox--4(type='checkbox')
												label.general__input__checkbox__label(for='checkbox--4')
													.general__checkbox__inside
														span.checkbox__figure
														span.checkbox__text.checkbox__text--only Calidad
						.filter__left__bottom__item
							.filter__left__bottom__item__title.acordion--pitcher
								.filter__left__bottom__item__title__text TIPO
								.filter__left__bottom__item__title__figure
									span.filter__left__bottom__item__figure__line.line--one
									span.filter__left__bottom__item__figure__line.line--two
							.filter__left__bottom__item__content.acordion__content
								.filter__left__bottom__item__checkboxs
									.filter__left__bottom__item__line
										.general__input.general__input--checkbox.general__input--checkbox--mode5
											.general__input__inside
												input#checkbox--22(type='checkbox')
												label.general__input__checkbox__label(for='checkbox--22')
													.general__checkbox__inside
														span.checkbox__figure
														span.checkbox__text.checkbox__text--only Cursos
									.filter__left__bottom__item__line
										.general__input.general__input--checkbox.general__input--checkbox--mode5
											.general__input__inside
												input#checkbox--33(type='checkbox')
												label.general__input__checkbox__label(for='checkbox--33')
													.general__checkbox__inside
														span.checkbox__figure
														span.checkbox__text.checkbox__text--only Certificaciones
									.filter__left__bottom__item__line
										.general__input.general__input--checkbox.general__input--checkbox--mode5
											.general__input__inside
												input#checkbox--44(type='checkbox')
												label.general__input__checkbox__label(for='checkbox--44')
													.general__checkbox__inside
														span.checkbox__figure
														span.checkbox__text.checkbox__text--only Diplomas
									.filter__left__bottom__item__line
										.general__input.general__input--checkbox.general__input--checkbox--mode5
											.general__input__inside
												input#checkbox--45(type='checkbox')
												label.general__input__checkbox__label(for='checkbox--45')
													.general__checkbox__inside
														span.checkbox__figure
														span.checkbox__text.checkbox__text--only Programas
			.filter__right
				.filter__right__top__links
					span.filter__right__top__links__title ORDENAR POR:
					.filter__right__top__links__links__container
						.filter__right__top__top__link.tab--pitcher(data-tab='tab1')  Proximo inicio
						.filter__right__top__top__link.tab--pitcher(data-tab='tab2')  Novedades
				.filter__right__top__content
					#tab1.filter__right__top__content__item
						.filter__right__top__content__inside
							.filter__right__top__content__items
								.filter__right__top__content__inside__item
									.filter__right__top__content__image(style="background-image: url('{{STATIC_URL}}media/fondo-slider.jpg');")
									.filter__right__top__content__text
										.filter__right__top__content__text__title
											h3 Curso Excel Avanzado
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi minus molestiae perspiciatis debitis adipisci.
										.filter__right__top__content__date__duration
											.filter__right__top__content__date
												span.filter__right__top__content__date__icon.icon-calendario
												p
													strong Inicio:
													|  14/07/2017
											.filter__right__top__content__duration
												span.filter__right__top__content__duration__icon.icon-reloj
												p
													strong Duración:
													|  9 meses
								.filter__right__top__content__inside__item
									.filter__right__top__content__image(style="background-image: url('{{STATIC_URL}}media/fondo-slider.jpg');")
									.filter__right__top__content__text
										.filter__right__top__content__text__title
											h3 Curso Excel Avanzado
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi minus molestiae perspiciatis debitis adipisci.
										.filter__right__top__content__date__duration
											.filter__right__top__content__date
												span.filter__right__top__content__date__icon.icon-calendario
												p
													strong Inicio:
													|  14/07/2017
											.filter__right__top__content__duration
												span.filter__right__top__content__duration__icon.icon-reloj
												p
													strong Duración:
													|  9 meses
								.filter__right__top__content__inside__item
									.filter__right__top__content__image(style="background-image: url('{{STATIC_URL}}media/fondo-slider.jpg');")
									.filter__right__top__content__text
										.filter__right__top__content__text__title
											h3 Curso Excel Avanzado
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi minus molestiae perspiciatis debitis adipisci.
										.filter__right__top__content__date__duration
											.filter__right__top__content__date
												span.filter__right__top__content__date__icon.icon-calendario
												p
													strong Inicio:
													|  14/07/2017
											.filter__right__top__content__duration
												span.filter__right__top__content__duration__icon.icon-reloj
												p
													strong Duración:
													|  9 meses
							ul.filter__right__pager.pager__general
								li.pager__item
									a.icon-arrow-left.pager__link--arrow(href='')
								li.pager__item
									a.pager__link(href='') 1
								li.pager__item
									a.pager__link(href='') 2
								li.pager__item
									a.pager__link(href='') 3
								li.pager__item
									a.icon-arrow-right.pager__link--arrow(href='')
					#tab2.filter__right__top__content__item
						.filter__right__top__content__inside
							.filter__right__top__content__items
								.filter__right__top__content__inside__item
									.filter__right__top__content__image(style="background-image: url('{{STATIC_URL}}media/fondo-slider.jpg');")
									.filter__right__top__content__text
										.filter__right__top__content__text__title
											h3 Curso Excel Avanzado
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi minus molestiae perspiciatis debitis adipisci.
										.filter__right__top__content__date__duration
											.filter__right__top__content__date
												span.filter__right__top__content__date__icon.icon-calendario
												p
													strong Inicio:
													|  14/07/2017
											.filter__right__top__content__duration
												span.filter__right__top__content__duration__icon.icon-reloj
												p
													strong Duración:
													|  9 meses
								.filter__right__top__content__inside__item
									.filter__right__top__content__image(style="background-image: url('{{STATIC_URL}}media/fondo-slider.jpg');")
									.filter__right__top__content__text
										.filter__right__top__content__text__title
											h3 Curso Excel Avanzado
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi minus molestiae perspiciatis debitis adipisci.
										.filter__right__top__content__date__duration
											.filter__right__top__content__date
												span.filter__right__top__content__date__icon.icon-calendario
												p
													strong Inicio:
													|  14/07/2017
											.filter__right__top__content__duration
												span.filter__right__top__content__duration__icon.icon-reloj
												p
													strong Duración:
													|  9 meses
								.filter__right__top__content__inside__item
									.filter__right__top__content__image(style="background-image: url('{{STATIC_URL}}media/fondo-slider.jpg');")
									.filter__right__top__content__text
										.filter__right__top__content__text__title
											h3 Curso Excel Avanzado
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi minus molestiae perspiciatis debitis adipisci.
										.filter__right__top__content__date__duration
											.filter__right__top__content__date
												span.filter__right__top__content__date__icon.icon-calendario
												p
													strong Inicio:
													|  14/07/2017
											.filter__right__top__content__duration
												span.filter__right__top__content__duration__icon.icon-reloj
												p
													strong Duración:
													|  9 meses
							ul.filter__right__pager.pager__general
								li.pager__item
									a.icon-arrow-left.pager__link--arrow(href='')
								li.pager__item
									a.pager__link(href='') 1
								li.pager__item
									a.pager__link(href='') 2
								li.pager__item
									a.pager__link(href='') 3
								li.pager__item
									a.icon-arrow-right.pager__link--arrow(href='')

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			$('.filter__right__top__top__link:nth-child(1)').addClass('active');
		$('.filter__right__top__content__item:nth-child(1)').addClass('active');

		// tab solo
		$('.tab--pitcher').click(function(e){
			e.preventDefault();
			$('.filter__right__top__top__link').removeClass('active');
			$(this).addClass('active');
			var data_id = $(this).attr('data-tab');
			console.log(data_id);
			$('.filter__right__top__content__item').removeClass('active');
			$('.filter__right__top__content__item[id="'+ data_id+'"]').addClass('active');
		});

		$('.filter__left__bottom__item:nth-child(1) .filter__left__bottom__item__title').addClass('active');
		$('.filter__left__bottom__item:nth-child(1) .acordion__content').addClass('active');

		$('.acordion--pitcher').click(function(e){
			e.preventDefault();
			if ($(this).hasClass('active')) {
				$(this).removeClass('active').parent().find('.acordion__content').stop().slideUp();
			}else{
				$('.filter__left__bottom__item__title').removeClass('active');
				$('.acordion__content').stop().slideUp();
				$(this).addClass('active').parent().find('.acordion__content').stop().slideToggle();
			};
		});

		})
		
