extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.nosotros
		.nosotros__wrap
			.nosotros__box__content
				.nosotros__text
					.nosotros__content__infot
						h3 Procasa Experiencia que nos respaldan
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie con molestie conLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie con
				.nosotros__image
					.nosotros__bgc_wp(style=`background-image: url('${STATIC_URL}img/bgc-box-01.png')`)
			.nosotros__valores__fortalezas
				.nosotros__box__val
					h3 Valores
					.nosotros__val__info
						.nosotros__val__img
							img(src=`${STATIC_URL}img/icono1-01.png`, width="60", height="60", alt="")
						.nosotros__val__text
							h3 Respeto
							p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					.nosotros__val__info
						.nosotros__val__img
							img(src=`${STATIC_URL}img/icono1-01.png`, width="60", height="60", alt="")
						.nosotros__val__text
							h3 Respeto
							p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					.nosotros__val__info
						.nosotros__val__img
							img(src=`${STATIC_URL}img/icono1-01.png`, width="60", height="60", alt="")
						.nosotros__val__text
							h3 Respeto
							p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				.nosotros__box__for
					h3 Fortalezas
					.nosotros__for__info
						.nosotros__for__img
							img(src=`${STATIC_URL}img/icono2-01.png`, width="60", height="60", alt="")
						.nosotros__for__text
							h3 Respeto
							p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					.nosotros__for__info
						.nosotros__for__img
							img(src=`${STATIC_URL}img/icono2-01.png`, width="60", height="60", alt="")
						.nosotros__for__text
							h3 Respeto
							p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					.nosotros__for__info
						.nosotros__for__img
							img(src=`${STATIC_URL}img/icono2-01.png`, width="60", height="60", alt="")
						.nosotros__for__text
							h3 Respeto
							p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		.nosotros__slider
			h3 Equipo Ejecutivo
			ul.nosotros__box__items
				li.nosotros__item
					a(href="")
						.nosotros__bgc(style=`background-image: url('${STATIC_URL}img/img-slider-01.png')`)
						.nosotros__hover
							.nosotros__cargo
								h2 Lucia Reategui
								h3 Asesora Inmobiliaria
				li.nosotros__item
					a(href="")
						.nosotros__bgc(style=`background-image: url('${STATIC_URL}img/img-slider-01.png')`)
						.nosotros__hover
							.nosotros__cargo
								h2 Lucia Reategui
								h3 Asesora Inmobiliaria
				li.nosotros__item
					a(href="")
						.nosotros__bgc(style=`background-image: url('${STATIC_URL}img/img-slider-01.png')`)
						.nosotros__hover
							.nosotros__cargo
								h2 Lucia Reategui
								h3 Asesora Inmobiliaria
				li.nosotros__item
					a(href="")
						.nosotros__bgc(style=`background-image: url('${STATIC_URL}img/img-slider-01.png')`)
						.nosotros__hover
							.nosotros__cargo
								h2 Lucia Reategui
								h3 Asesora Inmobiliaria
				li.nosotros__item
					a(href="")
						.nosotros__bgc(style=`background-image: url('${STATIC_URL}img/img-slider-01.png')`)
						.nosotros__hover
							.nosotros__cargo
								h2 Lucia Reategui
								h3 Asesora Inmobiliaria






 




//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(function() {
			$('.nosotros__box__items').slick({
			  slidesToShow: 4,
			  autoplay: false,
			  dots: true,
			  responsive: [
			    {
			      breakpoint: 768,
			      settings: {
			        arrows: false,
			        slidesToShow: 3
			      }
			    },
			    {
			      breakpoint: 480,
			      settings: {
			        arrows: false,
			        slidesToShow: 1
			      }
			    }
			  ]
			});
		});
