extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)


//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.servicios
		.servicios__wrap
			.servicios__content
				h3 Servicios
			.servicios__boxes__content
				.servicios__box
					a(href="")
						.servicios__bgc(style=`background-image: url('${STATIC_URL}img/bgc-box-01.png')`)
							.servicios__hover
								.servicio__box__text
									h3 Busqueda Inmobiliaria
								.servicio__next__buton
									i.icon-next-flecha-02
				.servicios__box
					a(href="")
						.servicios__bgc(style=`background-image: url('${STATIC_URL}img/bgc-box-01.png')`)
							.servicios__hover
								.servicio__box__text
									h3 Busqueda Inmobiliaria
								.servicio__next__buton
									i.icon-next-flecha-02
				.servicios__box
					a(href="")
						.servicios__bgc(style=`background-image: url('${STATIC_URL}img/bgc-box-01.png')`)
							.servicios__hover
								.servicio__box__text
									h3 Busqueda Inmobiliaria
								.servicio__next__buton
									i.icon-next-flecha-02
				.servicios__box
					a(href="")
						.servicios__bgc(style=`background-image: url('${STATIC_URL}img/bgc-box-01.png')`)
							.servicios__hover
								.servicio__box__text
									h3 Busqueda Inmobiliaria
								.servicio__next__buton
									i.icon-next-flecha-02





//- js
append scripts
	script.
		$(function() {
			
		});
