extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)


//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.trabaja-con-nosotros
		.trabaja-nosotros__wrapper
			.banner__grnal
				.banner__bgc__grl(style=`background-image: url('${STATIC_URL}img/banner-trabaja-01.png')`)
					.banner__g__text
						h3 Inicia tu carrera como Agente Inmobiliario
			.banner__content__info
				.banner__content__text
					.trabaja__content__text
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis officia, nostrum doloremque magni tenetur modi placeat, autem magnam aliquam deserunt hic ipsa enim iure quo harum, corporis fugit similique quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis officia, nostrum doloremque magni tenetur modi placeat, autem magnam aliquam deserunt hic ipsa enim iure quo harum, corporis fugit similique quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis officia, nostrum doloremque magni tenetur modi placeat, autem magnam aliquam deserunt hic ipsa enim iure quo harum, corporis fugit similique quia.

						ul
							li  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.banner__form
					.box__nosotros__form
						.box__form__title
							h3 ¿Estás interesado?
								strong Contacta un asesor			
						form
							.trabaja__nosotros__input
								.general__input
									.general__input__inside
										input(type="text", placeholder="Nombre y Apellido", class="validate[required] general__input__input")
							.trabaja__nosotros__input
								.general__input
									.general__input__inside
										input(type="text", placeholder="Teléfono", class="validate[required] general__input__input")
							.trabaja__nosotros__input
								.general__input
									.general__input__inside
										input(type="text", placeholder="Correo electronico", class="validate[required] general__input__input")
							.trabaja__nosotros__input
								.general__input__file.general__input__file--js
									.general__input__inside
										input(type="file", id="file-input")
										label(for="file-input", class="general__input__file__label")
											span.general__input__file__text Adjuntar CV.
											span.general__input__file__ico
												span.general__input__file__ico--ico.icon-clip
							.trabaja__nosotros__input
								.trabaja__nosotros__input--button
									button.btn.btn-enlace.btn-red( href='') Enviar



//- js
append scripts
	script.
		$(function() {
			$('.general__input__file--js').each(function(k, el){
				$(el).find('input[type="file"]').change(function(e){
					var id_input = $(this).attr('id');
					$('label[for="'+id_input+'"] .general__input__file__text').html('').html( e.target.files[0].name);
				});
			});
		});
