
.filter__section
	padding-bottom: 30px
	padding-top: 100px
	
.filter__section__container
	display: flex
	flex-wrap: wrap
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	
.filter__left
	width: 267px
	display: inline-block
	vertical-align: top
	
.filter__left__title
	display: flex
	align-items: center
	justify-content: center
	height: 50px
	text-align: left
	background-color: #f9f9f9
	margin-bottom: 15px
	h3
		color: #002d73
		font-size: 20px
		margin: 0
		font-weight: bold
		letter-spacing: -0.1px

.filter__left__top
	background-color: #f9f9f9
	padding: 15px 15px
	box-sizing: border-box
	margin-bottom: 40px
	
.filter__left__top__text
	font-family: ProximaNova
	font-size: 16px
	letter-spacing: -0.1px
	text-align: left
	color: #4a4a4a

.filter__left__top__line
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 15px
	&:last-child
		margin-bottom: 0
	
.filter__left__top__close
	width: 20px
	height: 20px
	line-height: 20px
	text-align: center
	background-color: #3184dd
	color: white
	border-radius: 100%
	cursor: pointer
	
.filter__left__top__line__button
	margin-top: 35px
	a
		font-size: 16px
		letter-spacing: -0.1px
		text-align: left
		color: #9b9b9b
		border-bottom: solid 1.1px #9b9b9b
		padding-bottom: 5px


.filter__left__bottom__title
	border-bottom: solid 1.1px #f2f2f2
	padding: 15px 10px
	box-sizing: border-box
	margin-bottom: 15px
	h3
		color: #002d73
		font-size: 20px
		margin: 0
		font-weight: bold
		letter-spacing: -0.1px
		

.filter__left__bottom__item__title
	display: flex
	align-items: center
	justify-content: space-between
	padding: 20px 10px
	border-bottom: solid 1.1px #f2f2f2
	cursor: pointer
	margin-bottom: 10px
	
.filter__left__bottom__item__title__text
	font-size: 16px
	font-weight: bold
	letter-spacing: -0.1px
	text-align: left
	color: #4a4a4a
	
.filter__left__bottom__item__title__figure
	width: 14px
	height: 14px
	position: relative
	
.filter__left__bottom__item__figure__line
	position: absolute
	top: 0
	left: 0
	background: #4a4a4a
	
.line--one
	display: block
	height: 2px
	width: 100%
	bottom: 0
	margin: auto
	
.line--two
	display: block
	height: 100%
	width: 2px
	left: 0
	right: 0
	transform: rotate(0deg)
	transition: all .25s ease-in-out
	
.filter__left__bottom__item__title.active
	.line--two
		transform: rotate(-90deg)

.filter__left__bottom__item__line
	margin-bottom: 15px
	&:last-child
		margin-bottom: 0
		
.filter__left__bottom__item__content
	padding: 20px 10px
	box-sizing: border-box

.general__input--checkbox
	input[type="radio"]
		display: none
	input[type="checkbox"]
		display: none
	
.general__checkbox__inside
	display: flex	
	align-items: center 

.checkbox__figure
	display: block
	width: 16px
	height: 16px
	text-align: center
	margin: 0	
	position: relative	
	&:before
		content ""
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		box-sizing: border-box
		transition: all .1s linear
	&:after
		content: ""
		position: absolute
		transition: all .1s linear
		top: 0
		left: 0
		

.checkbox__text
	margin: 0	
	display: block	

.general__input--checkbox--mode5
	.checkbox__figure
		&:before
			border: solid 0.9px #3184dd
			box-sizing: border-box	
			border-radius: 3px
		&:after
			content: "\e90c"
			bottom: 0
			font-size: 12px
			right: 0	
			margin: auto	
			opacity: 0	
			visibility: hidden	
	.checkbox__text
		padding-left: 10px	
	input[type="checkbox"]:checked + .general__input__checkbox__label
		.checkbox__figure:after
			opacity: 1	
			visibility: visible
			


.filter__right
	display: inline-block
	vertical-align: top
	width: calc(100% - 267px)
	padding-left: 71px
	box-sizing: border-box
	
.filter__right__top__links
	display: flex
	align-items: center
	border-bottom: 1px solid #f0f0f0
	
.filter__right__top__links__title
	margin: 0
	display: block
	margin-right: 50px
	font-size: 16px
	font-weight: 600
	letter-spacing: 0.1px
	color: #212121
	
.filter__right__top__top__link
	display: table-cell
	vertical-align: middle
	height: 65px
	padding: 0 20px
	box-sizing: border-box
	position: relative
	cursor: pointer
	&:before
		content: ""
		position: absolute
		bottom: 0
		background: #2d2766
		height: 2px
		width: 0
		display: block
		left: 0
		transition: all .25s ease-in-out
	&.active
		&:before
			width: 100%
	@media screen and (min-width: 1025px)
		&:hover
			&:before
				width: 100%
				

.filter__right__top__content__inside
	padding-top: 34px

.filter__right__top__content__inside
	font-size: 0

.filter__right__top__content__inside__item
	margin-bottom: 35px
	border-bottom: 1px solid #f0f0f0
	padding-bottom: 35px
	
.filter__right__top__content__image
	width: 220px
	display: inline-block
	vertical-align: middle
	height: 157px
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	
.filter__right__top__content__text
	display: inline-block
	vertical-align: middle
	width: calc(100% - 220px)
	padding-left: 51px
	box-sizing: border-box
	
.filter__right__top__content__text__title
	h3
		margin: 0
		margin-bottom: 15px
		font-size: 20px
		font-weight: bold
		line-height: 0.95
		text-align: left
		color: #002d73
	p
		font-size: 16px
		line-height: 1.25
		text-align: left
		color: #4a4a4a
		
.filter__right__top__content__date
	display: flex
	align-items: center
	p
		font-size: 16px
		line-height: 1.25
		text-align: left
		color: #4a4a4a
		margin: 0
	

.filter__right__top__content__date__icon
	display: block
	margin: 0
	margin-right: 10px
	font-size: 15px
	color: #3184dd
	
.filter__right__top__content__date__duration
	display: flex
	align-items: center
	
.filter__right__top__content__duration
	display: flex
	align-items: center
	margin-left: 25px
	p
		font-size: 16px
		line-height: 1.25
		text-align: left
		color: #4a4a4a
		margin: 0
	

.filter__right__top__content__duration__icon
	display: block
	margin: 0
	margin-right: 10px
	font-size: 15px
	
.filter__right__pager 
	text-align: center
	
.pager__item
	display: inline-block
	vertical-align: middle
	margin: 0 10px
	
.pager__link
	display: block
	width: 20px
	height: 20px
	line-height: 20px
	text-align: center
	transition: all .3s linear
	font-size: 16px
	color: #7a7b7c
	
.pager__link:hover
	background: #f2f2f2
	color: #3184dd
	
.pager__link.active
	background: blue
	color: #3184dd

.pager__link--arrow
	display: block
	width: 20px
	height: 20px
	line-height: 20px
	text-align: center
	color: #2d2766
	transition: all .3s linear
	font-size: 20px
	

.filter__right__top__content__item
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	&.active
		position: relative
		opacity: 1
		visibility: visible

@media screen and (max-width: 1200px)
	.filter__right
		padding-left: 30px

@media screen and (max-width: 1000px)
	.filter__right
		width: 100%
		padding-left: 0
		
	.filter__left
		width: 100%