@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.nosotros__bgc
	width: 100%
	background-size: cover
	background-repeat: no-repeat
	height: 557px
	background-position: center
	position: relative
	&:before
		content: ""
		width: 100%
		height: 100%
		top: 0
		bottom: 0
		left: 0
		right: 0
		position: absolute
		background-color: rgba(217, 128, 30, 0.10)
		z-index: 1

.nosotros__bgc_wp
	width: 100%
	background-size: cover
	background-repeat: no-repeat
	height: 557px
	background-position: center
	position: relative
.nosotros__wrap
	h2
		font-family: $t-1
.nosotros__text
	h3
		font-size: 28px
		font-family: $t-1
	p
		font-size: 14px
.nosotros__val__img
	width: 60px
	height: 60px
	max-width: 100%
	img
		max-width: 100%
		width: 100%
		height: auto
.nosotros__for__img
	width: 60px
	height: 60px
	max-width: 100%
	img
		max-width: 100%
		width: 100%
		height: auto
.nosotros__val__text
	max-width: 336px
	padding-left: 50px
	width: 100%
	h3
		font-size: 25px
		font-family: $t-3
		color: #31363e
	p
		font-size: 14px
		font-family: $t-3
		color: #808080
.nosotros__for__text
	max-width: 336px
	padding-left: 50px
	width: 100%
	h3
		color: red
		font-size: 25px
		font-family: $t-3
.nosotros__box__val
	width: 50%
	h3
		font-size: 25px
		font-family: 'Roboto'
		font-weight: bold
.nosotros__box__for
	width: 50%
	h3
		font-size: 25px
		font-family: 'Roboto'
		font-weight: bold

	p
		font-size: 14px
		font-family: $t-3
		color: #808080
.nosotros__content__infot
	max-width: 460px
	width: 100%
	text-align: justify
	h3
		max-width: 270px
		margin: 0
		font-family: 'Roboto'
		font-weight: bold
		padding-bottom: 30px
		width: 100%
	p
		font-size: 14px
		font-family: $t-3
		color: #808080
.nosotros__bgc
	background-size: cover
	background-repeat: no-repeat
	width: 100%
	height: 557px
	background-position: center
.nosotros__wrap
	max-width: 1100px
	margin: auto
	width: 100%
.nosotros__box__content
	width: 100%
	align-items: center
	padding-bottom: 88px
	display: flex
	flex-direction: row
.nosotros__text
	width: 50%
.nosotros__image
	width: 50%
.nosotros__valores__fortalezas
	width: 100%
	display: flex
	flex-direction: row

.nosotros__val__info
	display: flex
	flex-direction: row
	width: 100%
	padding-top: 50px
.nosotros__for__info
	display: flex
	flex-direction: row
	width: 100%
	padding-top: 50px
.nosotros__slider
	overflow: hidden
	h3
		font-size: 25px
		font-family: 'Roboto'
		font-weight: bold
		color: #1e242b
		text-align: center
	.slick-dots li button
		width: 10px
		height: 10px
		border: 1px solid #ff4337
		border-radius: 50%
	.slick-dots
		position: static
		margin-top: 52px
		margin-bottom: 60px
		.slick-active li button
			background-color: blue
	.slick-dots li.slick-active button:before
		content: none
	.slick-dots li.slick-active button
		background-color: #ff4337
	.slick-dots li button:before
		content: none

.nosotros__slider
	padding-top: 109px
.nosotros__box__items
	padding-top: 63px
.nosotros__item
	position: relative
	@media screen and (min-width: 1025px)
		.nosotros__hover
			opacity: 0
			&:hover
				opacity: 1
.nosotros__hover
	position: absolute
	width: 100%
	height: 100%
	background-color: red
	display: flex
	background-color: rgba(30, 36, 43, 0.83);
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 2
	flex-direction: column
	justify-content: flex-end
.nosotros__hover
	transition: all 450ms ease-in-out
	h2
		font-size: 25px
		font-family: $t-3
		color: white
	h3
		text-align: left
		color: white
		font-family: $t-3
.nosotros__cargo
	padding-bottom: 53px
	padding-left: 36px
@media screen and (max-width: 980px)
	.nosotros__box__content
		flex-direction: column
	.nosotros__text
		width: 100%
	.nosotros__image
		width: 100%
	.nosotros__content__infot
		max-width: 100%
	.nosotros__content__infot h3
		max-width: 100%
	.nosotros__bgc
		height: 337px
		background-position: top
@media screen and (max-width: 768px)
	.nosotros__valores__fortalezas
		flex-direction: column
	.nosotros__box__val
		width: 100%
	.nosotros__box__for
		width: 100%
	.nosotros__box__val
		h3
			text-align: center
	.nosotros__val__text
		h3
			text-align: left
	.nosotros__val__info
		justify-content: center
	.nosotros__for__info
		justify-content: center
	.nosotros__box__for
		h3
			text-align: center
	.nosotros__for__text
		h3
			text-align: left
	.nosotros__box__for
		padding-top: 40px
	.nosotros__box__content
		padding-bottom: 40px
@media screen and (max-width: 480px)
	.nosotros__val__text
		text-align: center
	.nosotros__val__info
		flex-direction: column
	.nosotros__val__info
		align-items: center
	.nosotros__val__text
		h3
			text-align: center
	.nosotros__val__text
		padding-left: 0
	.nosotros__for__info
		align-items: center
	.nosotros__for__info
		flex-direction: column	
	.nosotros__for__text
		h3
			text-align: center
	.nosotros__for__text
		padding-left: 0
	.nosotros__bgc
		background-position: center