@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')

.servicios__wrap
	max-width: 1200px
	margin: auto
	width: 100%


.servicios__bgc
	width: 100%
	position: relative
	background-size: cover
	background-repeat: no-repeat
	height: 319px
	background-position: center
	&:before
		content: ""
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		position: absolute
		height: 100%
		background-color: rgba(217, 128, 30, 0.20)
.servicios__content
	text-align: center
	padding-bottom: 30px
	padding-top: 60px
	h3
		font-size: 28px
		color: #1e242b
		margin: auto
		font-family: 'Roboto'
		font-weight: bold
.servicios__boxes__content
	display: flex
	flex-wrap: wrap
	width: 100%
.servicios__box
	width: 46%
	padding: 2%
	@media screen and (min-width: 1025px)
		.servicio__next__buton
			i.icon-next-flecha-02
				opacity: 0
		.servicios__hover
			opacity: 1
			transition: all 450ms ease-in-out
			&:hover
				opacity: 1
				background-color: #1e242b
				.servicio__next__buton
					i.icon-next-flecha-02
						opacity: 1


.servicios__hover
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
	margin: auto
	width: 100%
	height: 100%
	background-color:  transparent
	color: white
	font-size: 15px
	h3
		font-size: 25px
		font-family: 'Roboto'
		margin: auto
		color: white
		font-weight: bold
.servicio__box__text
	padding-top: 74px
	padding-left: 40px
	max-width: 205px
	width: 100%

	h3
		font-size: 25px
		line-height: 1.5
		font-family: 'Roboto'
		font-weight: bold

.servicio__next__buton
	position: absolute
	right: 0
	bottom: 0
	margin: auto
	top: 0
	padding-right: 41px
	padding-bottom: 40px
	display: flex
	align-items: flex-end
	i
		font-size: 16px
		color: #ff4337
@media screen and (max-width: 1024px)
	.servicios__hover
		background-color: rgba(30, 36, 43, 0.76)

@media screen and (max-width: 768px)
	.servicio__box__text
		padding-left: 10px
	.servicios__hover h3
		font-size: 20px
	.servicios__hover
		align-items: center
		display: flex
		flex-direction: row
		justify-content: center
	.servicio__box__text
		padding-top: 0
		padding-left: 0
@media screen and (max-width: 550px)
	.servicios__box
		width: 100%
	.servicios__hover
		display: flex
		align-items: center
		justify-content: center
	.servicio__box__text
		padding-top: 0
		padding-left: 0
	