@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.banner__bgc__grl
	width: 100%
	height: 250px
	background-size: cover
	background-position: center
	display: flex
	align-items: flex-end
	background-repeat: no-repeat
.banner__g__text
	max-width: 290px
	width: 100%
	padding-left: 50px
	padding-bottom: 20px
.trabaja-nosotros__wrapper
	max-width: 1200px
	width: 100%	
	margin: auto
.banner__content__info
	display: flex
	padding: 0 20px	
	flex-direction: row
.banner__content__text
	width: 70%
	padding-top: 90px
	display: flex
	flex-direction: row
.banner__form
	width: 30%
	padding-top: 34px	
.box__nosotros__form
	padding: 20px	
	border: 1px solid #d4d4d4
.banner__g__text
	h3
		font-size: 28px	
		font-family: 	'Roboto'
		font-weight: bold

.trabaja__content__text
	max-width: 690px
	padding-right: 50px	
	padding-left: 50px		
	text-align: justify	
	width: 100%	
	p
		font-size: 14px	
		font-family: $t-3
		margin: auto
		color: #808080
	ul
		padding-top: 34px	
		li
			font-size: 14px	
			font-family: $t-3
			margin: auto
			line-height: 1.5
			padding-left: 20px
			color: #808080
			position: relative
			&:before
				content: ""
				width: 5px
				height: 5px	
				background-color: #1e242b
				position: absolute
				left: 0
				border-radius: 50%
				margin: auto
				top: 0	
				bottom: 0
.box__nosotros__form
	h3
		font-size: 25px	
		text-align: center	
		font-family: 'Roboto'
		color: #1e242b
		font-weight: 	bold
		strong
			display: block
.trabaja__nosotros__input
	padding-bottom: 20px	

.trabaja__nosotros__input--button
	.btn-red
		width: 100%	
.box__form__title
	padding-top: 20px	
	padding-bottom: 20px
@media screen and (max-width: 980px)
	.banner__content__text
		width: 60%
	.banner__form
		width: 40%
@media screen and (max-width: 768px)
	.banner__content__info
		flex-direction: column
	.banner__content__text
		width: 100%	
	.banner__form
		width: 100%
	.trabaja__content__text
		padding-right: 0	
		padding-left: 0	
		max-width: 100%
	.banner__content__text
		padding-top: 50px
	.banner__form
		padding-bottom: 50px	


