extends ./_common/base.pug
//- btn
block content


	a.btn.btn-enlace.btn-red( href='') Enviar
	a.btn.btn-enlace.btn-gray( href='') Pruébalo

	a.btn.btn-productos( href='') 
		span.text-btn Ver Producto
