extends ./_common/base.pug
//- input
block content
	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") INPUT TYPE TEXT

	.general__input
		.general__input__inside
			input(type="text", placeholder="Hola, soy un input", class="validate[required] general__input__input")

	br

	.general__input.general__input--white(style="background:  #11934B; padding:10px 0;")
		.general__input__inside
			input(type="text", placeholder="Hola, soy un input", class="validate[required] general__input__input")
	
	br 
	
	.general__input.general__input__icon--right
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-eye
			input(type="text", placeholder="Hola, soy un input con icono", class="validate[required] general__input__input")

	br

	.general__input.general__input__icon--right.general__input--white(style="background:  #11934B; padding:10px 0;")
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-eye
			input(type="text", placeholder="Hola, soy un input con icono", class="validate[required] general__input__input")

	br

	.general__input.general__input__button--right
		.general__input__inside
			.general__input__button__right
				button.general__input__button
					span.icon-play
			input(type="text", placeholder="Hola, soy un input con button", class="validate[required] general__input__input")

	br

	.general__input.general__input__button--right.general__input--white(style="background:  #11934B; padding:10px 0;")
		.general__input__inside
			.general__input__button__right
				button.general__input__button
					span.icon-play
			input(type="text", placeholder="Hola, soy un input con button", class="validate[required] general__input__input")
		
	br

	.general__input.general__input__icon--right.general__input__icon--right--type1
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-pencil
			input(type="text", placeholder="Hola, soy un input con icono gris", class="validate[required] general__input__input")

	br

	.general__input
		.general__input__title Titulo input
		.general__input__inside
			input(type="text", placeholder="Hola, soy un input con titulo", class="validate[required] general__input__input")

	br

	.general__input.general__input--white(style="background:  #11934B; padding:10px 0;")
		.general__input__title Titulo input
		.general__input__inside
			input(type="text", placeholder="Hola, soy un input con titulo", class="validate[required] general__input__input")

	
	br

	.general__input.general__input--center
		.general__input__title Titulo input
		.general__input__inside
			input(type="text", placeholder="Hola, soy un input con titulo centrado", class="validate[required] general__input__input")

	br

	.general__input.general__input--center.general__input--white(style="background:  #11934B; padding:10px 0;")
		.general__input__title Titulo input
		.general__input__inside
			input(type="text", placeholder="Hola, soy un input con titulo centrado", class="validate[required] general__input__input")
				
	br
	
	.general__input.general__input--transparent(style="background:  #11934B; padding:10px 0;")
		.general__input__inside
			input(type="text", placeholder="Hola, soy un input con transparencia", class="validate[required] general__input__input")
				
	br

	.general__input.general__input__icon--right.general__input--transparent(style="background:  #11934B; padding:10px 0;")
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-eye
			input(type="text", placeholder="Hola, soy un input con transparencia", class="validate[required] general__input__input")
				
	br

	.general__input__file.general__input__file--js
		.general__input__inside
			input(type="file", id="file-input")
			label(for="file-input", class="general__input__file__label")
				span.general__input__file__text ADJUNTAR CARTA DE AUTORIZACIÓN PARA REALIZAR TRANSACCIONES DE LAS PERSONAS ENCARGADAS
				span.general__input__file__ico
					span.general__input__file__ico--text Adjuntar Imagen*
					span.general__input__file__ico--ico.icon-notebook
		
	br

	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") SELECT

	.general__input.general__input--select.general__input__icon--right
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-arrow-bottom-x
			select(name="", class="general__input__input")
				option(value="0") Select0
				option(value="1") Select1
				option(value="2") Select2
	
	br

	.general__input.general__input--select.general__input__icon--right(style="background:  #11934B; padding:10px 0;").general__input--white
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-arrow-bottom-x
			select(name="", class="general__input__input")
				option(value="0") Select0
				option(value="1") Select1
				option(value="2") Select2
	
	br

	.general__input.general__input--select.general__input__icon--right(style="background:  #11934B; padding:10px 0;").general__input--transparent
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-arrow-bottom-x
			select(name="", class="general__input__input")
				option(value="0") Select0
				option(value="1") Select1
				option(value="2") Select2
	
	br

	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") TEXTAREA

	.general__input.general__input--textarea
		.general__input__inside
			textarea( class="validate[required] general__input__input",placeholder="Hola, soy un textarea")

	br

	.general__input.general__input--textarea.general__input--white(style="background:  #11934B; padding:10px 0;")
		.general__input__inside
			textarea( class="validate[required] general__input__input",placeholder="Hola, soy un textarea")

	br

	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") RADIOBUTTONS GENERALS

	.general__input.general__input--check--radio.general__input--radio
		.general__input__inside
			input(type="radio", id="radio1", name="radio-name", checked="checked")
			label(for="radio1", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Radio

	.general__input.general__input--check--radio.general__input--radio
		.general__input__inside
			input(type="radio", id="radio2", name="radio-name")
			label(for="radio2", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Radio
	

	br

	.general__input.general__input--check--radio.general__input--radio.general__input--radio--white(style="background: #11934B")
		.general__input__inside
			input(type="radio", id="radio3", name="radio-name2", checked="checked")
			label(for="radio3", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Radio

	.general__input.general__input--check--radio.general__input--radio.general__input--radio--white(style="background: #11934B")
		.general__input__inside
			input(type="radio", id="radio4", name="radio-name2")
			label(for="radio4", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Radio

	br
	
	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") CHECKBOX GENERALS

	.general__input.general__input--check--radio.general__input--checkbox
		.general__input__inside
			input(type="checkbox", id="check1")
			label(for="check1", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Checkbox

	br

	.general__input.general__input--check--radio.general__input--checkbox.general__input--checkbox--white(style="background: #11934B")
		.general__input__inside
			input(type="checkbox", id="check2")
			label(for="check2", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Checkbox

append scripts
	script.
		$(function(){
			$('.general__input__file--js').each(function(k, el){
				$(el).find('input[type="file"]').change(function(e){
					var id_input = $(this).attr('id');
					$('label[for="'+id_input+'"] .general__input__file__text').html('').html( e.target.files[0].name);
				});
			});
		});


	

